{
  "parser": "esbuild-runner",
  "extends": [],
  "env": {
      "browser": true
  },
  "rules": {
      "key-spacing": "off",
      "jsx-quotes": [2, "prefer-double"],
      "max-len": [2, 120, 2],
      "object-curly-spacing": [2, "never"],
      "comma-dangle": [1, {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "ignore"
      }]
  }
}